/*=========================================================
   FONT FAMILY
==========================================================*/

/*** Pinar ***/

@font-face {
    font-family: 'Pinar';
    src: url('../../fonts/Pinar-Regular.woff2') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Pinar';
    src: url('../../fonts/Pinar-Bold.woff2') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Pinar';
    src: url('../../fonts/Pinar-Light.woff2') format('truetype');
    font-weight: 300;
}

/*** Yekanbakh ***/

@font-face {
    font-family: 'Yekanbakh';
    src: url('../../fonts/YekanBakh-Regular.woff2') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Yekanbakh';
    src: url('../../fonts/YekanBakh-Bold.woff2') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Yekanbakh';
    src: url('../../fonts/YekanBakh-Light.woff2') format('truetype');
    font-weight: 300;
}

/*=========================================================
   PRICE BOX
==========================================================*/

/*** Title ***/

.price-box .title {
    font-family: "Pinar";
    font-weight: 700;
    font-size: 25px;
    line-height: 44.36px;
}

/*** Subtitle ***/

.price-box .subtitle {
    font-family: "Yekanbakh";
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}