/*=========================================================
   FONT FAMILY
==========================================================*/

/*** Pinar ***/

@font-face {
    font-family: 'Pinar';
    src: url('../../fonts/Pinar-Regular.woff2') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Pinar';
    src: url('../../fonts/Pinar-Bold.woff2') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Pinar';
    src: url('../../fonts/Pinar-Light.woff2') format('truetype');
    font-weight: 300;
}

/*** Yekanbakh ***/

@font-face {
    font-family: 'Yekanbakh';
    src: url('../../fonts/YekanBakh-Regular.woff2') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Yekanbakh';
    src: url('../../fonts/YekanBakh-Bold.woff2') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Yekanbakh';
    src: url('../../fonts/YekanBakh-Light.woff2') format('truetype');
    font-weight: 300;
}